@import url('https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    background: #f7f5f5;
}


/*navbar*/

ul {
    list-style-type: none;
    padding: 0;
}

.header1 {
    min-height: 100vh;
    background: url(pexels-austin-sullivan-13387076.jpg) no-repeat center;
    background-size: cover;
}

main {
    padding: 2em;
    background: #faf8f8;
}

.container,
.container-inner {
    margin: 0 auto;
    width: 100%;
}

.container {
    max-width: 1350px;
    position: relative;
    display: grid;
    grid-template-columns: 1fr 5fr 1fr;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
}

.container-inner {
    max-width: 1000px;
}

nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 2em;
    z-index: 9;
    transition: 0.7s;
    color: #fff;
}

.brand {
    font-size: 1.6em;
}

nav .container-inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

nav .container ul {
    width: 100%;
    margin: 0 1em;
}

nav .container ul:nth-child(2) {
    text-align: right;
}

nav .container ul li {
    display: inline-block;
    margin: 0 0.7em;
}

nav a {
    text-decoration: none;
    font-size: 0.9em;
    transition: 0.3s;
    font-weight: 600;
    color: #0a0a0a;
}

nav a:hover {
    color: #e54416;
}

.input-wrap {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.5em 0;
}

form input,
form button {
    background: none;
    border: none;
    color: #090909;
}

form button {
    cursor: pointer;
}

form input::placeholder {
    color: #060606;
}

form input:focus {
    outline: none;
}

nav .fa-bars {
    color: #e54416;
    font-size: 1.2em;
    cursor: pointer;
    transition: 0.3s;
    text-align: right;
}

nav .fa-bars:hover {
    color: #f8f6f6;
}

.menu {
    background: rgba(245, 244, 244, 0.8);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    text-align: center;
    font-size: 1.3em;
    height: 0;
    opacity: 0;
    transition: 0.5s cubic-bezier(.74, -0.03, .83, .67);
    overflow-y: hidden;
}

.logo {
    width: 3em;
}

.menu ul,
.menu form {
    margin: 1em auto;
}

.menu li {
    margin: 1em 0;
}

.menu>div {
    display: felx;
    justify-content: start;
    align-items: center;
    flex-direction: column;
    padding: 6em 1em 3em 1em;
    height: 100%;
    overflow-y: scroll;
}

.menu>div::-webkit-scrollbar {
    display: none;
}

.menu .social-media {
    margin: 2em 0;
}

.social-media li {
    display: inline-block;
    margin: 0 0.5em;
}


/*classes fr js*/

.menu-open {
    height: 100vh;
    opacity: 1;
}

.navbar-active {
    background: #111;
    padding: 1em;
}

.navbar-active a {
    color: #f7f1f1;
}

.navbar-active form input::placeholder {
    color: #fefcfc;
}

.navbar-active form button {
    background: none;
    border: none;
    color: #faf7f7;
}


/*resposive*/

@media screen and (max-width:800px) {
    nav .container-inner {
        display: none;
    }
    nav .container {
        grid-template-columns: 1fr 1fr;
    }
}

@media screen and (min-width:800px) {
    .menu form {
        display: none;
    }
}

@media screen and (max-width:400px) {
    html {
        font-size: 13px;
    }
}


/*nav close*/


/*header*/

.header {
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    background: #d8e5d6;
}

.header #bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url("pexels-lucian-petrean-4557529.jpg");
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}

section {
    padding: 100px;
    color: #070707;
}

section h2 {
    font-size: 3em;
}

section p {
    font-size: 1.2em;
}


/** header item*/

.col {
    width: 100%;
    position: absolute;
    top: 45%;
    transform: translateY(-50%);
    text-align: center;
    color: #fff;
}

.title {
    font-family: 'Poppins', sans-serif;
    text-transform: uppercase;
    font-size: 170px;
    letter-spacing: 20px;
    font-weight: 700;
    color: #d36938;
}

.subtitle {
    font-family: 'Poppins', sans-serif;
    text-transform: uppercase;
    font-size: 25px;
    letter-spacing: 15px;
    font-weight: 700;
    color: #d36938;
}

#feature {
    background-image: url(featear_bg.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    transition: 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    padding: 120px 15px 0px 15px;
}

.f-text {
    margin: 0px 0px 56px 0px;
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
}

.px {
    margin-bottom: 0;
    height: 2px;
}

.heading-title {
    font-size: 42px;
    font-weight: 400;
    font-family: 'Spartan', sans-serif;
    color: #363636;
    line-height: normal;
    letter-spacing: -0.05em;
    margin-block-start: 0.83em;
    margin-block-end: 0.83em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}